{{#each erro}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{else}}

{{/each}}

<h3>Nova Categoria:</h3>
<div class="card-body">
    <div class="card">
        <form action="/admin/categorias/add" method="post" class="m-4">
            <label for="nome" class="m-2">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="Nome de categoria" class="form-control">
            <label for="slug" class="m-2">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="Slug de categoria" class="form-control"> <br>
                
            <button class="btn btn-success">EditCriarar categoria</button>
        </form>
    </div>
</div>