<h3>Nova Categoria:</h3>
<div class="card-body">
    <div class="card">

        <form action="/admin/categorias/nova" method="post">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="nome de categoria" class="form-control">
            <label for="slug">Slug: </label>
                <input type="text" id="slug" name="slug" placeholder="slug de categoria" class="form-control"> <br>
                
            <button class="btn btn-success">Criar categoria</button>
        </form>
    </div>
</div>