{{#each erros}}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{{/each}}

<h3 class="m-3">Login</h3>
<div class="card">
    <div class="card-body m-4">

        <form action="/usuario/login" method="post">
            <label for="email"> Email: </label>
                <input type="email" id="email" name="email" class="form-control" required value="matheus@gmail.com">
            <label for="senha"> Senha: </label>
                <input type="password" id="senha" name="senha" class="form-control" required value="matheus123"> <br> 

            <button type="submit" class="btn btn-success">Cadastrar-se</button> 
        </form>

    </div>
</div>