


<div class="card m-2">
    <div class="card-body m-1">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small> Data de publicação: {{postagem.data}} </small> <br> <br>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>
